.tab-content{
  height: 400px;
  width: 400px;
    margin-top: 10px;
    background-color: rgb(75, 174, 75);
    padding: 20px;
    border-radius: 10px;
    color: black;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: auto;
}

.tabs{
  display: flex;
  gap: 10px;
  cursor: pointer;
  padding-top: 10px;

}
.tab-button{
  padding: 10px;
  background-color: rgb(116, 213, 116);
  border-radius: 10px;
  border: none;
  color: black;
}
.tab-button:hover{
  background-color: rgb(34, 121, 34);
  color: white;
  cursor: pointer;
}