.dragdrop-container{
    width: 400px;
    height: 400px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.highlight{
    background-color: #222323;
    border: 2px dashed #219256;
}
.dragdrop-input{
    display: none;
}
.dragdrop-label{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.preview{
    display:  flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-left: 40px;

}
.preview button{
    background-color: red;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.preview img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 5px;
}